
 p{
    text-align: left;  
}
body{
    text-align: center;
    font-family: sans-serif;
    background-color:seashell
}
.mainInfo {
    text-align: center;
}
ul {
    list-style-position:inside;
}
nav {
    list-style: inside;
}

img {
    min-width:10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footerText {
    text-align: center;
}
